# coding: utf-8

from __future__ import absolute_import

from flask import json
from six import BytesIO

{{#imports}}{{import}}  # noqa: E501
{{/imports}}
from {{packageName}}.test import BaseTestCase


class {{#operations}}Test{{classname}}(BaseTestCase):
    """{{classname}} integration test stubs"""

   {{#operation}}
    def test_{{operationId}}(self):
        """Test case for {{{operationId}}}

        {{{summary}}}
        """
        pass

   {{/operation}}
{{/operations}}

if __name__ == '__main__':
    import unittest
    unittest.main()
